/.project
sha256_test
hello
bcmine
final_hash_256
generate_first_hash

analysis.txt

# QT-Creator files
Makefile.am.user

timelog.txt
# ignore objects and archives, anywhere in the tree.
*.[oa]
#/build-aux
.deps
.dirstamp
/autom4te.cache
Makefile
stamp-h
stamp-h1
stamp-h.in
config.h
config.log
config.status
config.h.in~
